<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  </script>
</head>
<body>
<div class="container profiles">
  <div class="text-white-bg">
    <div class="row">
      <div class="span12">
        <h1><%= t(:index, scope: "medialinks")%></h1>
      </div>
    </div>
    <div class="row">
      <div class="span12 text-right">
        <%= link_to(t(:home, scope: "profiles.edit"), profiles_path) %> |
        <%= link_to(t(:show, scope: "profiles.edit"), @profile) %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="span12">
      <span class="italic"><%= t(:medialink_description, scope: "medialinks").html_safe %></span>
    </div>
  </div>
  <br>
  <br>
    <div class="row">
      <div class="span2">
        <%= link_to '<i class="icon-plus icon-white"></i> Hinzufügen'.html_safe,
                  new_profile_medialink_path(@profile), class: "btn btn-info" %>
        <br>
        <br>
      </div>
      <div class="span10">
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h5><%= t ".media" %></h5>
          <ul id="sortable">
            <% @profile.medialinks.each do |medialink| %>
            <li>
              <h5>
                <span class="medialink"><%= medialink.title %>
              </h5>
                <%= medialink.url_html %>
                <%= medialink.description %>
                <%= link_to '<i class="icon-pencil"></i>'.html_safe+ t(:edit_link, scope: "medialinks"), edit_profile_medialink_path(@profile.id, medialink.id) %>
                <%= link_to '<i class="icon-remove"></i>'.html_safe+ t(:delete_link, scope: "medialinks"), profile_medialink_path(@profile.id, medialink.id),
                  confirm: 'Are you sure?',
                  method: :delete %>
            </li>
            <% end %>
          </ul>
        <br />
      </div>
      <hr/>
  </div>
</div>
</body>